/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body    {
    font-family: "Roboto";
}

a   {
    text-decoration: none;
    color: white;
}

/* my_header */
.my_header  {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
}

.my_logo    {
    width: 80px;
}

.my_logo img    {
    width: 100%;
    height: 100%;
}

#desktop_logo   {
    display: none;
}

.my_search_bar  {
    flex-grow: 1;
    display: flex;
}


/* BS search bar */
.bg-body-tertiary    {
    width: 100%;
    /* to check !important */
    background-color: white !important;
} 

.d-flex     {
    width: 100%;
}

.form-control   {
    background-color: #E5E5E5;
} 

.my_header_icon {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop_icon   {
    display: none;
}

/* my_main */
.my_main    {
    margin-top: 70px;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
}

/* my_nav */
.my_nav {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../asset/img/sidebar-bg.png");
    background-color: #041E34;
}

.my_nav_div {
    padding: 15px;
    line-height: 40px;
    text-align: center;
}

.link_nav  span {
    display: none;
}

.link_nav:hover {
    background-color: grey;
}

/* my_main_cnt */
.my_main_cnt    {
    flex-grow: 1;
    /* debug */
    height: 100%;
    background-color: bisque;
}

.my_main_cnt_header {
    background-color: #1B72E8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.my_main_cnt_header h1  {
    display: inline;
}

.blue_button    {
    display: inline;
    background-color: #165BBA;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.boolean_piano {
    display: flex;
    align-items: center;
}

#special_btn    {
    margin-left: 0;
}

.new_student    {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* dekstop version */
@media all and (min-width: 992px)   {
    .my_nav {
        width: 100px;
    }

    .my_logo    {
        width: 100px;
        padding: 5px;
    }

    .my_header_icon {
        width: 100px;
    }

    #mobile_logo    {
        display: none;
    }

    #desktop_logo   {
        display: block;
    }

    .desktop_icon   {
        display: flex;
    }

    .desktop_icon i {
        margin-right: 10px;
    }

    .link_nav  span {
        display: inline;
    }
}

@media all and (min-width: 768px)   {
    .new_student    {
        justify-content: end;
    }
}