/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body    {
    font-family: "Roboto";
}

a   {
    text-decoration: none;
    color: white;
}

/* my_header */
.my_header  {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
}

.my_logo    {
    width: 80px;
}

.my_logo img    {
    width: 100%;
    height: 100%;
}

#desktop_logo   {
    display: none;
}

.my_search_bar  {
    flex-grow: 1;
    display: flex;
}


/* BS search bar */
.bg-body-tertiary    {
    width: 100%;
    /* to check !important */
    background-color: white !important;
} 

.d-flex     {
    width: 100%;
}

.form-control   {
    background-color: #E5E5E5;
} 

.my_header_icon {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop_icon   {
    display: none;
}

/* my_main */
.my_main    {
    margin-top: 70px;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    overflow-y: auto;
}

/* my_nav */
.my_nav {
    width: 80px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../asset/img/sidebar-bg.png");
    background-color: #041E34;
}

.my_nav_div {
    padding: 15px;
    line-height: 40px;
    text-align: center;
}

.link_nav  span {
    display: none;
}

.link_nav:hover {
    background-color: grey;
}

/* my_main_cnt */
.my_main_cnt    {
    flex-grow: 1;
    overflow-y: auto;
}

.my_main_cnt_header {
    background-color: #1B72E8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.my_main_cnt_header h1  {
    display: inline;
}

.blue_button    {
    /* display: inline; */
    background-color: #165BBA;
    padding: 2px 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.boolean_piano {
    display: flex;
    align-items: center;
    font-size: 15px;
}

#special_btn    {
    margin-left: 0;
}

.desktop_breadcrumb {
    display: none;
}

.new_student    {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary    {
    background-color: #1B72E8;
    border: 1px solid white;
}


/* my_dashboard section */
.my_dashboard   {
    padding-top: 5px;
    /* debug */
    /* height: 100%; */
}


/* next class section */
.dash_sect_title   {
    background-color: #F7F7F7;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
}

/* table "prossime classi" */
.table, .accordion, .active_user, .active_user_cnt, .my_month {
    border: 1px solid black;
}

.my_done    {
    background-color: #198755;
    color: white;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.my_process {
    background-color: #FFC106;
    color: white;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.my_failed  {
    background-color: #DC3444;
    color: white;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.table  i   {
    margin-right: 10px;
}

.start_date, .roi   {
    display: none;
}

/* F.A.Q. section */
.my_faq {
    margin-bottom: 20px;
}

/* active user section */
.active_user    {
    margin-top: 15px;
    padding: 3px;
    /* debug */
    /* height: 100px; */
}

.active_user_cnt    {
    height: 100%;
    width: 100%;
}  

.img_active_user    img {
    width: 100%;
    /* height: 100%; */
}

.active_user a  {
    color: blue;
    text-decoration: underline;
}



/************************************
            dekstop version 
*************************************/
@media all and (min-width: 992px)   {
    .my_nav {
        width: 100px;
    }

    .my_logo    {
        width: 100px;
        padding: 5px;
    }

    .my_header_icon {
        width: 100px;
    }

    #mobile_logo    {
        display: none;
    }

    #desktop_logo   {
        display: block;
    }

    .desktop_icon   {
        display: flex;
    }

    .desktop_icon i {
        margin-right: 10px;
    }

    .link_nav  span {
        display: inline;
    }

    .desktop_breadcrumb {
        display: flex;
    }

    #my_plus    {
        display: none;
    }
}

/* tablet version */
@media all and (min-width: 768px)   {
    .new_student    {
        justify-content: end;
    }

    .start_date, .roi   {
        display: table-cell;
    }
}